<div class="container my-5">
  <div class="row"><%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i></button>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @auctions.each do |auction|%>
      <div class="col-sm-4">
        <div class="card-product">
          <b class="card-date-byline"><%= auction.date %></b>
          <%= link_to auction_path (auction.id) do %>
            <% if auction.photo.attached? %>
              <%= cl_image_tag auction.photo.key, class: "w-100"%>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
          <% end %>
          <div class="card-product-infos">
            <span><h6><i class="fas fa-map-marker-alt"></i> <%= auction.address %></h6>&nbsp;
              <p class="byline"> by <%= auction.user.first_name %> <%= auction.user.last_name %></p>
            </span>
            <h4><%= auction.title %> </h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
