<h2> <%= @auction.title %></h2>
<p> <%= @auction.status%></p>
<p> <%= @auction.description %></p>

<p> <%= @auction.date%></p>

<%= render "shared/counter", auction: @auction %>

<p> <%= @auction.start_time%> - <%= @auction.end_time%></p>
<hr>

<% @auction.auction_items.each do |item| %>
<div class="card-trip mb-3">
  <%= cl_image_tag item.artwork.photo.key %>
  <div class="card-trip-infos">
    <div>
      <h2><%= item.artwork.title %></h2>
      <p><%= item.artwork.description %></p>
   <%= link_to "Place bid", auction_auction_item_path(@auction, item) %>
    </div>
    <h2 class="card-trip-pricing">£<%= item.artwork.price %> </h2>
    <img src="https://kitt.lewagon.com/placeholder/users/syrashid" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>