<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="me-3">
        <h6><%= @auction.date%></h6>
        <h3><%= @auction.title %></h3>
        <p> <%= @auction.description %></p>
        <p> <%= @auction.start_time%> - <%= @auction.end_time%></p>
        <p><%= render "shared/counter", auction: @auction %></p>
        <%# <h5>Add artwork to auction:</h5> %>
        <%# <%= simple_form_for [@auction, @auction_item] do |f| %>
          <%# <%= f.input :artwork, collection: current_user.artworks_as_artist, input_html: {class: "multiple-select", multiple: true }, include_hidden: false %>
          <%# <%= f.button :submit, class: 'btn btn-success w-100' %>
          <%# <% end %>
          <div class="bids mb-5">
            <h5>Recent bids:</h5>
            <ul>
              <li>List item 1</li>
              <li>List item 2</li>
              <li>List item 3</li>
              <li>List item 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <% @auction.auction_items.each do |item| %>
          <div class="card-product-list d-flex">
            <div class="col-sm-12 col-md-6 pe-3">
              <%= cl_image_tag item.artwork.photo.key %>
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
              <div class="card-product-infos-list">
                <h6><i class="fas fa-map-marker-alt"></i> Paris</h6>
                <h4><%= item.artwork.title %></h4>
                <p><%= item.artwork.description %></p>
                <%= link_to "Place bid", auction_auction_item_path(@auction, item), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
