<h2> <%= @auction.title %></h2>
<p> <%= @auction.status%></p>
<p> <%= @auction.description %></p>

<p> <%= @auction.date%></p>
<p> <%= @auction.start_time%> - <%= @auction.end_time%></p>
<hr>
<% @auction.auction_items.each do |item| %>
  <p><%= item.artwork.title %></p>
  <p><%= item.artwork.description %></p>
  <p><%= item.artwork.artist.first_name %></p>
   <%= link_to "Place bid", auction_auction_item_path(@auction, item) %>
  <p>___</p>
<% end %>
