<%# Delete this comment if we want to keep this page! Also
delete "my_auctions" from the routes.rb file and the
pages_controller.rb file %>

<h1>Welcome to your auctions page, <%= @user.first_name %></h1>

<a href=<%= new_auction_path %>>Create a new artwork</a>

<h2>All of your auctions</h2>

<%# Will need some work below to show the auction activity %>

<% @user.artworks_as_artist.each do |artwork| %>
  <p><%= artwork.title%> -- <%= artwork.price %> <a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
  <% if artwork.photo.present? %>
    <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<h2>Artwork you've purchased</h2>

  <% @user.artworks_as_buyer.each do |artwork| %>
  <p><%= artwork.title%> -- <%= artwork.price %><a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
  <% if artwork.photo.present? %>
    <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<h2>Artwork you've sold</h2>

<% @user.artworks_as_artist.each do |artwork| %>
  <% if artwork.buyer_id != current_user.id %>
    <p><%= artwork.title%> -- <%= artwork.price %><a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
    <% if artwork.photo.present? %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
<% end %>
