<div class="container my-5">
  <div class="row">
    <div class="col-md-8 ">
      <h4>My Dashboard</h4>
      <hr>
      <div class="row">
        <div class="col-md-4 mb-3">
          <%= link_to new_artwork_path, class: "btn btn-primary w-100" do %>
            <i class="fas fa-money-bill"></i><br>
            List an artwork
          <% end %>
        </div>
        <div class="col-md-4 mb-3"><%= link_to new_auction_path, class: "btn btn-primary w-100" do %>
            <i class="fas fa-plus-circle"></i><br>
            Create an auction
          <% end %></div>
        <div class="col-md-4 mb-3">                  <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
         <i class="fas fa-user-circle"></i><br>
            Update profile photo
        </button>
        <!-- Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload a new profile photo below</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
          <%= profile_photo(@user)%>
          <%= render "shared/user_profile", user: @user %>
          <br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of modal --></div>

        <div class="col-md-12">
          <h4>My bids</h4>
          <table class="table" data-bidding-target="content">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Artwork Title</th>
                <th scope="col">Bid Date/Time</th>
                <th scope="col">Bid Amount</th>
              </tr>
            </thead>
            <tbody>
              <% current_user.bids.each do |bid| %>
                <tr class="bid-table" id="bid-<%= bid.id %>">
                  <td class= "photo-center"><%= user_photo_bid(bid.user) %></td>
                  <td><%= bid.auction_item.artwork.title %></td>
                  <td> <%= bid.created_at.to_formatted_s(:short) %></td>
                  <td><%= bid.price %>€</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>My Artworks</h4>
      <hr>
      <% @user.artworks_as_buyer.each do |artwork| %>
        <div class="card-product-list d-flex">
          <div class="col-sm-12 col-md-6 mb-3 pe-3">
            <% if artwork.photo.present? %>
              <%= cl_image_tag artwork.photo.key %>
            <% else %>
            <% end %>
          </div>
          <div class="col-sm-12 col-md-6 mt-2">
            <div class="card-product-infos-list">
              <h5><%= artwork.title %></h5>
              <p><%= artwork.price %> €</p>
            </div>
          </div>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
