<%# <div class="container my-5"> %>

<div class="col-sm-12 col-md-6">
  <h5>My profile picture:</h5>
  <%# <%= cl_image_tag @user.photo.key,
    :height=>200, :width=>200,
    :radius=>"max"%>
  <%= user_photo(@user)%>
  <%= render "shared/user_profile", user: @user %> %>
</div>
<div class="profile-page">
  <div class="top-nav">

    <div class="nav-list">
      <nav class="nav flex-sm-column">
        <a class="nav-link active" aria-current="page" href="#">Profile</a>
        <a class="nav-link" href="#">Dashboard</a>
        <a class="nav-link" href="#">Bid History</a> <%# all user bids %>
        <a class="nav-link" href="#">Purchases</a>
      </nav>
    </div>

    <div class="main-menu">

      <%= link_to artworks_path do %>
      <div class="card w-20">
        <div class="card-header">
          <h6>$</h6>
        </div>
        <div class="card-body">
          <p class="card-text">MY PURCHASES</p> <%# if current_user matches bid %>
        </div>
      </div>
    <% end %>

      <%= link_to new_auction_path do %>
      <div class="card w-20">
        <div class="card-header">
          <h6>+</h6>
        </div>
        <div class="card-body">
          <p class="card-text">CREATE AN AUCTION</p>
        </div>
      </div>
    <% end %>

      <%= link_to profile_path do %>
      <div class="card w-20">
        <div class="card-header">
          <h6>#</h6>
        </div>
        <div class="card-body">
          <p class="card-text">MY PROFILE</p>
        </div>
      </div>
    <% end %>
    </div>

    <div class="favorites">
      <h3>Favorites</h3> <%# category name may change %>
        <div class="card w-20">
          <div class="card-header">
            <h6>@</h6>
          </div>
          <div class="card-body">
            <%# find a person symbol somewhere %>
            <p class="card-text">My Favorites</p>
            <a href=<%= profile_path %> class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-activity">
    <div class="heading">
      <h3>My Recent Activity</h3>
    </div>
    <div class="actions">
      <div class="row">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
      <div class="row">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
      <div class="row">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
    </div>
  </div>




<hr>

  <h3>Artworks</h3>
  <h4>Artwork you've listed</h4>
  <% @user.artworks_as_artist.each do |artwork| %>
    <p><%= artwork.title%> -- <%= artwork.price %> <a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
    <% if artwork.photo.present? %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>

  <h4>Artwork you've purchased</h4>
  <%# We need something here to show winning bids %>
  <% @user.artworks_as_buyer.each do |artwork| %>
        <p><%= artwork.title%> -- <%= artwork.price %><a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
    <% if artwork.photo.present? %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>

  <h4>Artwork you've sold</h4>
  <% @user.artworks_as_artist.each do |artwork| %>
    <% if artwork.buyer_id != current_user.id %>
      <p><%= artwork.title%> -- <%= artwork.price %><a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
        <% if artwork.photo.present? %>
          <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
    <% end %>
  <% end %>

  <hr>

  <h3>Auctions</h3>
  <h4>Bidding Activity</h4>
  <%# Need to insert bid history on all artworks: bids#index %>
  <% @user.artworks_as_artist.each do |artwork| %>
    <p><%= artwork.title%> -- <%= artwork.price %> <a href=<%= artwork_path(artwork) %>>See this artwork</a></p>
    <% if artwork.photo.present? %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</div>
